$primaryThemeColor: #651fff;
$primaryThemeFade: #833df5;
$hoverColor: #b388ff;
$lightestAccent: #faf6ff;

$primaryFont: sofia-pro, sans-serif;

$fiveXlFontSize: 64px;
$fourXlFontSize: 48px;
$threeXlFontSize: 36px;
$twoXlFontSize: 24px;

$headerFontWeight: 700;

$bodyFontSize: 16px;
$bodyFontWeight: 500;

$headerBackgroundColor: $primaryThemeColor;
$headerBackgroundImage: linear-gradient($primaryThemeColor, $primaryThemeFade);
