$primaryThemeColor: #651fff;
$primaryThemeFade: #833df5;

$primaryFont: sofia-pro, sans-serif;

$fiveXlFontSize: 64px;
$fourXlFontSize: 48px;

$headerFontWeight: 700;

$bodyFontSize: 16px;
$bodyFontWeight: 500;

$headerBackgroundColor: $primaryThemeColor;
$headerBackgroundImage: linear-gradient($primaryThemeColor, $primaryThemeFade);
